</main>
<footer>
      <section>
            <div class="footer-container">
                  <div class="footer-logo">
                        <img src="images/icon-white.png" alt="Glu logo">
                  </div>
                  <div>
                        
                  </div>
            </div>
      </section>
</footer>
</html>
<!-- javascript files -->
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script src="https://kit.fontawesome.com/dc7f6e94f0.js" crossorigin="anonymous"></script>
