body {
    /* background-color: aquamarine; */
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: aquamarine;
    margin: 0 0 1em 0;
	padding: 0;
}

main {
    background-color: azure;
    width: 100%;
}