<%- include('../partials/header') %>
<body>
  <section class="main-container">
    <div class="container">
      <h1 class="hometitle">Welkom bij Creative Software Development</h1>
      <button class="button" style="vertical-align:middle"><span>Start </span></button>
    </div>
  </section>
</body>
<%- include('../partials/footer') %>
